name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
    - name: 코드 가져오기
      uses: actions/checkout@v4

    - name: 도커 이미지 빌드
      run: |
        docker build -t 192.168.1.18/demo/finbot:v4

    - name: Harbor 로그인
      run: |
        echo "Harbor12345!" | docker login 192.168.1.18 -u admin --password-stdin

    - name: Harbor로 발사
      run: |
        docker push 192.168.1.18/demo/finbot:v4
