name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: self-hosted  # <--- 중요! 우리 집 서버(upc)에서 실행하라는 뜻

    steps:
    - name: 코드 가져오기 (Checkout)
      uses: actions/checkout@v3

    - name: 도커 이미지 빌드 (Build)
      run: |
        # 이름 변경: my-web -> finbot
        docker build -t 192.168.1.18/demo/finbot:v1 .

    - name: Harbor 로그인 (Login)
      run: |
        echo "Harbor12345!" | docker login 192.168.1.18 -u admin --password-stdin

    - name: Harbor로 발사 (Push)
      run: |
        docker push 192.168.1.18/demo/finbot:v1
